:root {
    
    /* COLORS */
    
    --background-color: #1F2937;
    --highlight-color: #3C82F6;
    --quote-color: #E4E7EB;
    --main-text-color: #F9FAFB;
    --sec-text-color: #E5E7EB;
    --header-logo-color: #F9FAF8;
    --text-color: #1F2937;
    
    /* FONT SIZES */

    --hero-text-size: 48px;
    --info-header-text-size: 36px;
    --quote-text-size: 36px;
    --logo-text-size: 24px;
    --general-text-size: 18px;

}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: var(--general-text-size);
}