* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: antiquewhite;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(55, 81, 44);
    color: antiquewhite;
    padding: 20px 5%;
}

#logo a {
    text-decoration: none;
    color: antiquewhite;
}

.menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-item {
    text-transform: uppercase ;
    margin: 0 10px;
}

.menu-item a {
    color: antiquewhite;
    text-decoration: none;
}

.content {
    padding: 20px;
    margin: auto;
    max-width: 1080px;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.section-heading {
    flex-basis: 100%;
    font-size: 30px;
}

.recipe-card {
    position: relative;
    width:30%;
    background-color: burlywood;
    border-radius: 10px;
}

.card-text {
    padding: 20px;
}

.card-text a {
    text-decoration: none;
    color: darkgreen;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
    display: block;
}

.recipe-card img {
    width: 100%;
    max-height: 180px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

