* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #111827;
    color: rgb(244, 238, 238);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

.user-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-text {
    background-color: #2b3447;
    padding: 11px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid orange;
    color: rgb(244, 238, 238);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.enter-btn {
    padding: 12px;
    border-radius: 10px;
    color: rgb(244, 238, 238);
    background-color: transparent;
    border: 2px solid  orange;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}