*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(38, 45, 61);
    color: rgb(226, 234, 241);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px
}

.sketch-section {
    width: 90%;
    display: flex;

    justify-content: center;
    gap: 20px;
}

.sketchboard {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.settings {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pixel {
    border: 1px dotted rgb(59, 66, 93);
    box-sizing: border-box;
    border-radius: 5px;
}

.settings-btn {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.colors {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.color-btn {
    padding: 18px;
    border-radius: 30px;
    border: 1px solid #262d3d;
    box-sizing: border-box;
}

.selected {
    box-shadow: 0px 0px 0px 3px #dcf6ff;
}

.divider {
    border-top: 2px solid rgba(255, 255, 255, 0.124);
}

#gridsize {
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(60, 67, 95);
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

#erase-btn {
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border-right: 25px solid rgb(242, 150, 165);
    border-radius: 8px;
}


